/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 24, 2025, 8:37:39 AM
    Author     : admin
*/
.MENU {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-Alignment: CENTER;
}

.title {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill:#000000;
    -fx-stroke: yellow;
    -fx-stroke-width: 2;
}

.my-button {
    -fx-background-color: #E0E0E0 ;
    -fx-text-fill: #000000 ;
    -fx-pref-width: 200;
    -fx-padding: 10;
    -fx-font-weight: bold;
    
}
